/* style.css */

.info-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.10);
}

.medical-card {
    background-color: #e8f4ff;
    padding: 20px;
    border-radius: 20px;
    border-left: 6px solid #4ab3ff;
    box-shadow: 0px 4px 12px rgba(74,179,255,0.3);
    margin-top: 20px;
}
